/*
 * Copyright (c) 2023 Laczen
 * SPDX-License-Identifier: Apache-2.0
 */

#include <common/mem.h>

/ {
	sram_2000FF80: sram@2000FF80 {
		compatible = "zephyr,memory-region", "mmio-sram";
		reg = <0x2000FF80 0x80>;
                zephyr,memory-region = "Retention";
                status = "okay";
        };

        shared_data: shared_data {
                compatible = "zephyr,shared-data";
                memory-region = <&sram_2000FF80>;
                status = "okay";
        };

        aliases {
                shareddatatestdevice = &shared_data;
        };

};