/*
 * Copyright (c) 2023 Laczen
 * SPDX-License-Identifier: Apache-2.0
 */

#include <common/mem.h>

/ {
	storage_sram: sram@2000E000 {
		compatible = "zephyr,memory-region", "mmio-sram";
		reg = <0x2000E000 0x2000>;
                zephyr,memory-region = "STORAGE_SRAM";
                status = "okay";
        };
};