# Kconfig - zephyr_sharedram
#
# Copyright (c) 2022 Laczen
#
# SPDX-License-Identifier: Apache-2.0
#

config ZEPHYR_SHARED_DATA
	bool "Applications shared ram"
        default y if DT_HAS_ZEPHYR_SHARED_DATA_ENABLED
	help
	  Enable support of shared ram for applications.
